langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
streamlit
python-dotenv
sentence-transformers
SpeechRecognition
pyaudio
python-docx
docx2txt